# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
 .cache
 .idea/

# Environment variables
.env.*

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
